html {
  box-sizing: border-box;
  font: normal 100%/1.5 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.circle {
  position: absolute;
  clear: left;
  float: left;
  margin: 0 10px;
  width: 200px;
  bottom: 250px;
}

.banner-content {
  position: absolute;
  float: right;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}

.banner-content h2 {
  family: 'Roboto Condensed', cursive;
  font-size: 3rem;
  margin: 0;
}

.banner-content p {
  font-size: 1.5rem;
}

.banner-content .btn {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.btn-big {
  float: left;
  border: 10px solid #333;
  background-color: #333;
  border-radius: 8px;
  padding: .5rem;
}
