html {
  box-sizing: border-box;
  font: normal 100%/1.5 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.circle {
  float: left;
  width: 45%;
  padding: 16px;
}
.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}
